body {
    background-color: #9ab3f5;
}

hr {
    border-style: dotted;
    height: 1px;
    width: 5%;
    border-width: 6px;
    border-bottom: 0px;
    border-color: #7579e7;
}

h1,
h2,
h3,
h4,
h5 {
    color: #7579e7;
}